<link rel="stylesheet" href="/css/index.css">
<div id="grid-container">
    <section class="grid-item">
        <h1 class="title">RECENTLY ADDED</h1>
        <div class="my-carousel">
            <ul class="movie-list">
                <% movies.forEach(movie => {%>
                    <li>
                        <a href="/movie/<%= movie._id%>">
                            <div class="movie-card">
                                <div class="img-wrapper">
                                    <img class="movie-poster" src="<%= movie.posterImgPath%>">
                                </div>
                                <h1 class="movie-title">
                                    <%= movie.name%>
                                </h1>
                                <p class="create-date">
                                    <%= movie.createDate.toISOString().split('T')[0]%>
                                </p>
                            </div>
                        </a>
                    </li>
                    <%})%>
            </ul>
        </div>
    </section>
    <section class="grid-item">
        <h1 class="title">RANDOM MOVIE</h1>
        <div class="my-carousel">
            <ul class="movie-list">
                <% randomMovies.forEach(movie => {%>
                    <li>
                        <a href="/movie/<%= movie._id%>">
                            <div class="movie-card">
                                <div class="img-wrapper">
                                    <img class="movie-poster" src="<%= movie.posterImgPath%>">
                                </div>
                                <h1 class="movie-title">
                                    <%= movie.name%>
                                </h1>
                                <p class="create-date">
                                    <%= movie.createDate.toISOString().split('T')[0]%>
                                </p>
                            </div>
                        </a>
                    </li>
                    <%})%>
            </ul>
        </div>
    </section>
</div>