<link rel="stylesheet" href="/movie.css">
<div id="container" class="shape-container">
    <div style="background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0, 0) 50%, rgba(0,0,0,0.7) 100%), url('<%= movie.coverImgPath%>')" id="movie-inner-container">
        <div class="poster-wrap">
            <img src="<%= movie.posterImgPath%>" class="inner-poster">
        </div>
        <div class="movie-title-group">
            <h1 class="movie-title">
                <%= movie.name %>
            </h1>
            <h1>
                <%= movie.publishDate.toISOString().split('T')[0] %>
            </h1>
        </div>
        <div class="movie-btn-group">
            <a href="/movie/edit/<%= movie._id %>" class="btn">Edit</a>
            <%- include('../partials/delete_btn',{url:`/movie/edit/${movie._id}?_method=DELETE`}) %>
        </div>
    </div>
    <div style=" clear: both;">
    </div>
    <div class="movie-des">
        <section>
            <h1 class="title fix-title">
                ACTORS
            </h1>
            <ul id="actors-list">
                <% movie.actors.forEach(element=>{%>
                    <li class="actor">
                        <div class="avatar-wrap">
                            <img src="/icon/user.png" class="actor-avatar">
                        </div>
                        <p class="actor-name">
                            <%= element%>
                        </p>
                    </li>
                    <% }) %>
            </ul>
        </section>
        <section>
            <h1 class="title fix-title">
                STUDIO
            </h1>
            <p class="paragraph">
                <%= studio.name %>
            </p>
        </section>
        <section>
            <h1 class="title fix-title">
                DESCRIPTION
            </h1>
            <p class="paragraph">
                <%= movie.description %>
            </p>
        </section>
    </div>
</div>