<section>
    <div style="display: table; margin:0px auto;">
        <div style="width: 1000px; height: 400px; position: relative; ;display:block ;background-image:url('<%= movie.coverImgPath%>')">
            <img src="<%= movie.posterImgPath%>" style="float: left; margin-left: 50px; margin-top: 15%;">
            <div style="float:left; margin-top: 40%; margin-left: 20px; padding:1rem 0rem;">
                <h1>
                    <%= movie.title %>
                </h1>
                <h1>
                    <%= movie.publishDate.toISOString().split('T')[0] %>
                </h1>
            </div>
            <div style="float:left; margin-top: 40%; margin-left: 20px; padding:1rem 0rem;">
                <a href="/movie/<%= movie._id %>/edit ">Edit</a>
                <%- include('../partials/delete_btn',{url:`/movie/${movie._id}?_method=DELETE`}) %>
            </div>
        </div>
        <div style="clear: both;">

        </div>
        <div style="margin-top: 20px;">
            <h1>
                STUDIO
            </h1>
            <p>
                <%= studio.name %>
            </p>
        </div>
        <div style="margin-top: 20px;">
            <h1>
                DESCRIPTION
            </h1>
            <p>
                <%= movie.description %>
            </p>
        </div>
    </div>
</section>