<link rel="stylesheet" href="/newMovie.css">
<div id="container">
    <form method="POST" action="/movie/edit/<%= movie._id%>?_method=PUT" id="new-movie-form">
        <div id="flex-wrap">
            <h1 class="title">NEW MOVIE</h1>
            <div id="reverse-wrap">
                <div class="col-7">
                    <div class="inner-col-7">
                        <div class="form-group">
                            <label>Movie name</label>
                            <input class="form-control" type="text" name="name" value="<%= movie.name %>" placeholder="Movie Name">
                        </div>
                        <div class="form-group inner-col">
                            <label>Studio</label>
                            <select name="studio" class="form-control">
                                <% studios.forEach(studio => {%>
                                    <% if(studio.id=== movie.studio) {%> 
                                        <option selected label="<%= studio.name%> " value="<%= studio.id %>"></option>
                                    <% }else{ %>
                                        <option label="<%= studio.name%> " value="<%= studio.id %>"></option>
                                    <% } %>    
                                <% }); %>
                           </select>
                        </div>
                        <div class="form-group inner-col">
                            <label>Publish date</label>
                            <input class="form-control" type="date" name="publishDate" value="<%= movie.publishDate == null?'':movie.publishDate.toISOString().split('T')[0]%>">
                        </div>
                        <div class="form-group">
                            <label>Actors</label>
                            <input class="form-control" type="text" name="actors" value="<%= movie.actors.join('-')%>" placeholder="Eg: John - Mikey - Stark">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description" rows="9" placeholder="Movie Detail"><%= movie.description %></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-5"><br>
                    <label>Background</label>
                    <div class="filepond-wrap"><input type="file" name="coverImg" class="ct-filepond-area"></div>
                    <label>Poster</label>
                    <div class="filepond-wrap"><input type="file" name="posterImg" class="ct-filepond-area"></div>
                </div>
            </div>
            <div class="col-7">
                <div class="form-group">
                    <a href="/movie" class="form-btn">Cancle</a>
                    <button type="submit" class="form-btn">Create</button>
                    <%- include('../partials/error_alert.ejs') %>
                </div>
            </div>
        </div>
    </form>
</div>