<div id="movie-container">
    <h1>MOVIE LIST</h1>
    <form action="/movie" method="GET">
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title%>" /><br><br>
        <label>Publish date</label>
        <input type="date" name="publishDate" value="<%= searchOptions.publishDate%>" />
        <button type="submit">Search</button>
    </form>
    <div>
        <% movies.forEach(movie => {%>
            <div style="display: inline-block; padding: 5px;">
                <a href="/movie/<%= movie._id%>">
                    <img style="width: 200px; height: 300px;" src="<%= movie.posterImgPath%>">
                    <p>
                        <%= movie.title%>
                    </p>
               </a>
            </div>
            <%})%>
    </div>
</div>