<link rel="stylesheet" href="/css/movieIndex.css" />
<div id="container">
    <div class="flex-wrap">
        <h1 class="title">MOVIE LIST</h1>
        <div class="flex-item">
            <form action="/movie" method="GET">
                <label>Publish date</label>
                <input type="date" name="publishDate" value="<%= searchOptions.publishDate%>" class="form-control date-filter" form='form-search' />
                <button type="submit" class="form-btn" form='form-search'>Search</button>
            </form>
        </div>
        <div class="flex-item">
            <ul class="movie-list-wrap">
                <% movies.forEach(movie => {%>
                    <li class="flex-movie-item">
                        <a href="/movie/<%= movie._id%>">
                            <div class="movie-card">
                                <div class="img-wrapper">
                                    <img src="<%= movie.posterImgPath%>" class="movie-poster" width="200" />
                                </div>
                                <h1 class="movie-title">
                                    <%= movie.name%>
                                </h1>
                                <p class="create-date">
                                    <%= movie.createDate.toISOString().split('T')[0]%>
                                </p>
                            </div>
                        </a>
                    </li>
                    <%})%>
            </ul>
        </div>
        <div id="pagination-wrap">
            <%- include('../partials/pagination',{pageRoot:'movie'}) %>
        </div>
    </div>
</div>