<link rel="stylesheet" href="/studio.css">
<div id="container">
    <div id="flex-wrap">
        <h1 class="title">
            <%= studio.name %>
        </h1>
        <div class="btn-group">
            <a href="/studio/<%= studio._id %>/edit" class="btn">Edit</a>
            <%- include('../partials/delete_btn',{url:`/studio/${studio._id}?_method=DELETE`}) %>
        </div>
        <h1 class="title">
            Movies by
            <%= studio.name %>
        </h1>
        <ul id="studio-movie-list">
            <% movies.forEach(movie => {%>
                <li class="flex-movie-item">
                    <a href="/movie/<%= movie._id%>">
                        <div class="movie-card">
                            <div class="img-wrapper">
                                <img src="<%= movie.posterImgPath%>" class="movie-poster" width="200">
                            </div>
                            <h1 class="movie-title">
                                <%= movie.title%>
                            </h1>
                            <p class="movie-rating">rating: 10/10</p>
                        </div>
                    </a>
                </li>
                <%})%>
        </ul>
    </div>
</div>