<div id="studio-container">
    <h1>STUDIO LIST</h1>
    <form action="/studio" method="GET">
        <input type="text" name="name" value="<%= searchInput%>" />
        <button type="submit">Search</button>
    </form>
    <ul>
        <% for(let i = 0; i < studios.length; i++){ %>
            <li>
                <h3>
                    <%= studios[i].name %>
                </h3>
                <div>
                    <%= studios[i].founded.toISOString().split('T')[0] %>
                        <p>
                            <%= studios[i].detail %>
                        </p>
                </div>
                <a href="/studio/<%= studios[i]._id %> ">View</a>
                <a href="/studio/<%= studios[i]._id %>/edit ">Edit</a>
                <%- include('../partials/delete_btn',{url:`/studio/${studios[i]._id}?_method=DELETE`}) %>
            </li>
            <% } %>
    </ul>
</div>