<link rel="stylesheet" href="/studioIndex.css">
<div id="container">
    <div class="flex-wrap">
        <h1 class="title">STUDIO LIST</h1>
        <div class="flex-item">
            <form action="/studio" method="GET">
                <input type="text" name="name" value="<%= searchOptions.title%>" class="studio-search-input" placeholder="studio name" />
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
        <div class="flex-item">
            <ul class="studio-list-wrap">
                <% for(let i = 0; i < studios.length; i++){ %>
                    <li>
                        <div class="studio-info">
                            <h3 class="studio-name">
                                <%= studios[i].name %>
                            </h3>
                            <p>
                                <%= studios[i].founded.toISOString().split('T')[0] %>
                            </p>
                        </div>
                        <div class="btn-group-right">
                            <a href="/studio/<%= studios[i]._id %>" class="btn">View</a>
                            <a href="/studio/<%= studios[i]._id %>/edit" class="btn">Edit</a>
                            <%- include('../partials/delete_btn',{url:`/studio/${studios[i]._id}?_method=DELETE`}) %>
                        </div>
                    </li>
                    <% } %>
            </ul>
            <div id="pagination-wrap">
                <%- include('../partials/pagination',{pageRoot:'studio'}) %>
            </div>
        </div>
    </div>
</div>